header{
    background-color: rgb(243, 194, 194);
    justify-content: right;
    display: flex;
}
#nav-bar{
    justify-content: right;
}
#nav-bar ul{
    list-style-type: none;
    display: flex;
    float: right;
}
#nav-bar li{
    padding: 20px;
    position: relative;
    text-decoration: cornsilk;
    border-bottom: none;

}
#nav-bar li a:hover{
    background-color:blueviolet;
}
.section0{

    background-color: rgb(238, 231, 223);
    padding-bottom: 0px;

}
.section0 h2{
    text-align: center;
    padding-top: 20px;
    justify-content: center;
}
img{
    height: 300px;
    width: 300px;
}
.section1{
    display: flex;
    justify-content: center;
    
}
#paragraph{
    padding-left: 30px;
}

.section2{
    display: flex;
    justify-content: space-between;
}
.section3{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section3 h2{
    text-align: center;
}
.section3a{
    display: flex;
    justify-content: space-between;

}
.section3a img{
    height: 200px;
    width: 300px;
    border-radius: 30px;
}
.services h2{
    text-align: center;
}
.ui{
    display: flex;
    justify-content: space-between;
}
.services{
    background-color: rgb(165, 148, 168);
    padding: 10px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(222, 224, 228);
    padding: 5px;
}
.contact img{
    height: 30px;
    width: 30px;
}



