ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    padding: 10px;
    border-bottom: none;
    border-color: aliceblue;
    justify-content: space-evenly;
    

}
#nav-bar{
    background-color: rgb(211, 183, 180);
}
img{
    height: 400px;
    width: 400px;
    padding-top: 0%;

}
.section1{
    display: flex;
    justify-content: center;
    float: inline-start;
    border-style: none;
}