/*In my CSS code, you'll notice some of the codes are indicated "Ignore this style!". Note that, I used the codes before implementing bootstrap and after using bootstrap, these codes do not have any impact to my code and webpage anymore!
header{
    background-color: rgb(243, 194, 194);
    justify-content: right;
    display: flex;
}*/
*{
    margin: 10px solid;
}
.wrapper{
    margin: 1px;
    padding: 10px;
}
.navbar-style{
    background-color: rgb(240, 173, 173);
}
.col-md-3 img{
    height:80px;
    width: 90px;
}
.header{
    padding-top: 0px;
    
}
.navbar-style{
    box-shadow: 0 5px gray;
}
.logo{
    height: 50px;
    width: 60px;
    padding: 2px 10px;
}
.icon-bar{
    background-color: rgb(13, 13, 14);
    padding-bottom: 0px;
}

li a{
    color: black;
}
a.btn{
    margin: 20px 10px;
    width: 100px;
    padding: 3px;
    border-radius: 30px;
    background-color: rgb(99, 124, 99);
    color: darkgray;
}
.col-sm-6 img{
    height: 300px;
    width: 300px;
    float: right;

}
.container2{
   padding-left: 500px;
   padding-right: 200px;
   display: flex;
   padding-top: 0px;
   padding-bottom: 0px;
}

/*Ignore this style!
#nav-bar{
    justify-content: right;
}*/
/*#nav-bar ul{
    list-style-type: none;
    display: flex;
    float: right;
}*/
/*#nav-bar li{
    position: relative;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 10px;

}*/
/*#nav-bar li a:hover{
    background-color:blueviolet;
}*/
.section0{

    background-color: rgb(206, 198, 188);
    padding-bottom: 0px;
    padding-top: 10px

}
.section0 h2{
    text-align: center;
    padding-top: 0px;
    justify-content: center;
}
img{
    height: 200px;
    width: 250px;
    border-radius: 50px;
}
/*Ignore this style!
.section1{
    display: flex;
    justify-content: center;
    
}*/
/*#paragraph{
    padding-left: 30px;
}*/

/*.section2{
    display: flex;
    justify-content: space-between;
}*/
.section3{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.section3 h2{
    text-align: center;
}
/*.section3a{
    display: flex;
    justify-content: space-between;
  

}*/
/*.section3a img{
    height: 200px;
    width: 300px;
    border-radius: 30px;
}*/

.services h2{
    text-align: center;
}
/*Ignore this style!
.ui {
    display: flex;
    justify-content: space-between;

}*/
.services{
    background-color: rgb(165, 148, 168);
    padding: 10px;
}
.services img{
    height: 100px;
    width: 100px;
}
.services ol{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    
}
.services img{
    display: flex;
}
.wd{
    display: flex;
}
a.btn-two{
    margin: 20px 10px;
    width: 120px;
    padding: 3px;
    border-radius: 35px;
    background-color: rgb(255, 51, 0);
    color: whitesmoke;
}
.contact{
    justify-content: center;
    text-align: center;
    background-color: rgb(222, 224, 228);
    padding: 5px;
}
.contact img{
    height: 30px;
    width: 30px;
}
a.btn-three{
    margin: 20px 10px;
    width: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 36px;
    background-color: green;
    color: whitesmoke;
    float: left;
}
.form{
    border-radius: 10px;
    width: 210px;
    height: 10px;
    text-decoration: linen;
    
}
/*ignore this style!
#photography a:hover{
background-color: honeydew;
text-decoration: honeydew;
}*/
/*#street a:hover{
    background-color: lightcoral;
    text-decoration: lime;
    
}*/

